# .env.example
OHRM_DB_HOST=localhost
OHRM_DB_USER=your_db_user
OHRM_DB_PASS=your_db_password
OHRM_DB_NAME=orangehrm_prod
ENCRYPTION_PASS=your_encryption_key
SFTP_USER=sftp_user
SFTP_PASSWORD=sftp_pass
SFTP_HOST=ftp.example.com
SFTP_PORT=21
CALENDAR_ACCESS_TOKEN="xxx"
CALENDAR_DOMAIN="https://yourdomain"
